<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JohnGaltProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="JohnGaltProject.My.MySettings.ConnectionString" connectionString="Provider=MSDAORA;Data Source=leia.dnr.state.ga.us:1521/DEV;Persist Security Info=True;Password=smogalert;User ID=airbranch"
      providerName="System.Data.OleDb" />
    <add name="JohnGaltProject.My.MySettings.ConnectionString1" connectionString="Provider=MSDAORA;Data Source=//leia.dnr.state.ga.us:1521/DEV;Persist Security Info=True;Password=smogalert;User ID=airbranch"
      providerName="System.Data.OleDb" />
    <add name="JohnGaltProject.My.MySettings.IAIPconnPRD" connectionString="Provider=MSDAORA;Data Source=luke.dnr.state.ga.us:1521/PRD;Persist Security Info=True;Password=grapr1l;User ID=AIRBRanch_App_User"
      providerName="System.Data.OleDb" />
    <add name="JohnGaltProject.My.MySettings.IAIP_conn2" connectionString="Provider=MSDAORA;Data Source=PRD;Persist Security Info=True;Password=grapr1l;User ID=airbranch_app_user"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="PasswordMaintenance.KeyPreview" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <JohnGaltProject.My.MySettings>
      <setting name="SerializedUserSettingsDictionary" serializeAs="String">
        <value />
      </setting>
      <setting name="SerializedFormSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
    </JohnGaltProject.My.MySettings>
  </userSettings>
</configuration>