ol li { margin: 0; clear: both; }
ol li { margin: 0; clear: both; border-top: 1px dashed #aaa; padding-top: 15px; padding-bottom: 15px; }
ol li:first-child { border-top: none; }
figure { width: 150px; transition: all .4s ease-in-out; margin: 15px 8px 15px 0; padding: 8px; float: right; position: relative; text-align: center; background: rgba(113, 175, 255, 0.1); border-radius: 5px; }
.intro figure { float: left; }
figcaption { transition: all .4s ease-in-out; }
figure img { display: inline-block; }
figure figcaption:before { content: "+"; position: absolute; width: 1em; height: 1em; background: rgba(0,0,0,.1); transition: all .4s ease-in-out; top: 50px; left: 50%; font-size: 3em; color: #fff; text-shadow: 0 0 4px rgba(0,0,0, .5); border-radius: 50%; margin-left: -.5em; margin-top: -.5em; box-shadow: 0 0 5px rgba(50,50,50,.8); line-height: 1; overflow: hidden; }
figure:hover { width: 70%; }
figure:hover figcaption:before { width: 0; height: 0; box-shadow: none; text-shadow: none; color: rgba(255,255,255,0); }
