# NOTE: Requires **VS2019 16.3** or later

# Code files
[*.vb]

dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA3075.severity = none

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = none

# BC42016: Implicit conversion
dotnet_diagnostic.BC42016.severity = none

# S927: Parameter names should match base declaration
# Doesn't work in VB since names are not case sensitive
dotnet_diagnostic.S927.severity = none

# S1643: Strings should not be concatenated using "+" or "&" in a loop
dotnet_diagnostic.S1643.severity = silent

# BC42018: Operands of type Object used for operator
dotnet_diagnostic.BC42018.severity = silent

# BC42019: Operands of type Object used for operator
dotnet_diagnostic.BC42019.severity = silent

# BC42032: Operands of type Object used for operator <>
dotnet_diagnostic.BC42032.severity = silent

# S6580: Use a format provider when parsing date and time
dotnet_diagnostic.S6580.severity = silent

# S6562: Always set the "DateTimeKind" when creating new "DateTime" instances
dotnet_diagnostic.S6562.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
