# NOTE: Requires **VS2019 16.3** or later

# Code files
[*.{cs,vb}]

dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA3075.severity = none
dotnet_diagnostic.S1075.severity = none

# BC42016: Implicit conversion
dotnet_diagnostic.BC42016.severity = none

[*.vb]

# S927: Parameter names should match base declaration
# Doesn't work in VB since names are not case sensitive
dotnet_diagnostic.S927.severity = none
