# NOTE: Requires **VS2019 16.3** or later

# Code files
[*.{cs,vb}]

dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA3075.severity = none
dotnet_diagnostic.S1075.severity = none

# BC42016: Implicit conversion
dotnet_diagnostic.BC42016.severity = none
