<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="Environment" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Development" />
    <add key="GecoUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://dev-geco.gaepd.org/" />

    <!-- LOCAL Development -->
    <!--<add key="CxApiUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://localhost:44373/" />-->
    <add key="EmailQueueApiUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://localhost:7145/" />
    <add key="EmailQueueApiKey" xdt:Transform="Replace" xdt:Locator="Match(key)" value="40ae4429-6726-49d9-97fd-23843f328dd6" />
    <!--<add key="AirReportsUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://localhost:44380/" />-->

    <!-- DEV Server -->
    <add key="CxApiUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://iaip-cx.gaepd.org/" />
    <!--<add key="EmailQueueApiUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://aux.gaepd.org/email-queue/" />-->
    <!--<add key="EmailQueueApiKey" xdt:Transform="Replace" xdt:Locator="Match(key)" value="40ae4429-6726-49d9-97fd-" />-->
    <add key="AirReportsUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://dev-air.gaepd.org/" />

  </appSettings>
</configuration>
