<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" xdt:Transform="Replace" xdt:Locator="Match(key)"
         value="Staging" />
    <add key="GecoUrl" xdt:Transform="Replace" xdt:Locator="Match(key)"
         value="https://uat-geco.gaepd.org/" />
	<add key="AirReportsUrl" xdt:Transform="Replace" xdt:Locator="Match(key)"
		value="https://uat-air.gaepd.org/" />
	  <add key="EmailQueueApiUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://uat-aux.gaepd.org/email-queue/" />
  </appSettings>
</configuration>
