<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>

		<!-- DEV -->
		<add name="AirbranchDB" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="Data Source=10.34.149.104,1433;Initial Catalog=airbranch;Persist Security Info=True;User ID=iaip_app_user;Password=iQs94P?FMybU4uZ" providerName="System.Data.SqlClient" />

		<!-- UAT -->
		<!-- <add name="AirbranchDB" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="Data Source=10.34.149.104,2433;Initial Catalog=airbranch;Persist Security Info=True;User ID=iaip_app_user;Password=3f5u=4syeZCoSn" providerName="System.Data.SqlClient" /> -->

		<!-- PROD -->
		<!-- <add name="AirbranchDB" xdt:Transform="Replace" xdt:Locator="Match(name)" connectionString="Data Source=10.34.148.199;Initial Catalog=airbranch;Persist Security Info=True;User ID=iaip_app_user;Password=qu10B49W$8kR" providerName="System.Data.SqlClient" /> -->

	</connectionStrings>
	<appSettings>
		<add key="Environment" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Development" />
		<add key="GOOGLE_MAPS_API_KEY" xdt:Transform="Replace" xdt:Locator="Match(key)" value="AIzaSyC-B6sSVZ8DQm2cZn6vbnSR9G0ZeitjQEM" />
		<add key="GecoUrl" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://dev-geco.gaepd.org/" />
		<add key="DbIpAddress" xdt:Transform="Replace" xdt:Locator="Match(key)" value="10.34.149.104" />
	</appSettings>
</configuration>
