name: Publish IAIP Installer

on:
  push:
    branches:
      - deploy/DEV
      - deploy/UAT
      - deploy/PROD

permissions:
  contents: write
  deployments: write
  pages: write

jobs:
  deploy:
    name: Publish the IAIP installer
    
    # ↓ Change this to "false" to disable the workflow without any alert messages.
    if: ${{ true }}
    # ↑ Change to "true" (or delete) to enable the workflow.
    
    runs-on: windows-latest
    
    env:
      Configuration: ${{ github.ref_name == 'deploy/PROD' && 'Release' || ( github.ref_name == 'deploy/UAT' && 'UAT' || ( github.ref_name == 'deploy/DEV' && 'Debug' || 'Error' ) ) }}
      AssemblyName: ${{ github.ref_name == 'deploy/PROD' && 'IAIP' || ( github.ref_name == 'deploy/UAT' && 'IaipHorizon' || ( github.ref_name == 'deploy/DEV' && 'IaipDev' || 'Error' ) ) }}
      CodeBranch: code
      ProjectPath: code\IAIP
      ProjectName: IAIP.vbproj
      ManifestKeyFile: IAIP_Key.pfx
      PublishDir: .publish
      PublishPath: code\IAIP\.publish
      GhPagesBranch: gh-pages
      WebsiteRoot: code\iaip-website
      WwwSource: code\iaip-website\www\*
      GhPagesDestination: gh-pages\docs
      InstallerPath: ${{ github.ref_name == 'deploy/PROD' && 'gh-pages\docs\install' || ( github.ref_name == 'deploy/UAT' && 'gh-pages\docs\uat' || ( github.ref_name == 'deploy/DEV' && 'gh-pages\docs\dev' || 'Error' ) ) }}
      
    steps:
      - name: Check out the current (deployment) branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          path: ${{ env.CodeBranch }}
          sparse-checkout: |
            IAIP
            iaip-website

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce

      - name: Restore the application
        working-directory: ${{ env.ProjectPath }}
        run: msbuild -t:restore -p:Configuration=$env:Configuration -p:Platform=x86 -v:m $env:ProjectName

      - name: Decode the PFX certificate
        env:
          BASE64_ENCODED_PFX: ${{ secrets.BASE64_ENCODED_PFX }}
        working-directory: ${{ env.ProjectPath }}
        run: |
          $pfx_cert_byte = [System.Convert]::FromBase64String("$env:BASE64_ENCODED_PFX")
          [IO.File]::WriteAllBytes("$env:ManifestKeyFile", $pfx_cert_byte)

      - name: Build the application
        working-directory: ${{ env.ProjectPath }}
        run: msbuild -t:rebuild -p:Configuration=$env:Configuration -p:Platform=x86 -v:m $env:ProjectName

      - name: Build the deployment files
        env:
          PFX_THUMBPRINT: ${{ secrets.PFX_THUMBPRINT }}
        working-directory: ${{ env.ProjectPath }}
        run: msbuild -t:publish -p:Configuration=$env:Configuration -p:Platform=x86 -p:PublishDir=$env:PublishDir -p:SignManifests=true -p:ManifestKeyFile=$env:ManifestKeyFile -p:ManifestCertificateThumbprint=$env:PFX_THUMBPRINT -v:m $env:ProjectName

      - name: Remove the PFX certificate
        if: always()
        working-directory: ${{ env.ProjectPath }}
        run: |
          if(Test-Path $env:ManifestKeyFile) 
          { 
            Remove-Item -path $env:ManifestKeyFile 
          }

      - name: Calculate published size
        working-directory: ${{ env.ProjectPath }}
        run: |
          $publishSize = (Get-ChildItem -Path "$env:PublishDir\Application Files" -Recurse | Measure-Object -Property Length -Sum).Sum / 1Mb
          Write-Output ("Published size: {0:N2} MB" -f $publishSize)

      - name: Install Pandoc (only on Prod)
        if: github.ref_name == 'deploy/PROD'
        uses: pandoc/actions/setup@86321b6dd4675f5014c611e05088e10d4939e09e

      - name: Build the IAIP website using Pandoc (only on Prod)
        if: github.ref_name == 'deploy/PROD'
        working-directory: ${{ env.WebsiteRoot }}
        run: |
          Get-ChildItem -Path "www" -Recurse -Include "*.md" | ForEach-Object {
            $file = $_.FullName
            $output = "$($_.DirectoryName)\$($_.BaseName).html"
            pandoc.exe -f markdown+startnum -t html5 --email-obfuscation=references --template="includes/template.html5" -H "includes/head.inc" -o $output $file
          }

      - name: Check out the `gh-pages` branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ env.GhPagesBranch }}
          path: ${{ env.GhPagesBranch }}

      - name: Remove previous installer files
        working-directory: ${{ env.InstallerPath }}
        run: |
          if (Test-Path "Application Files")
          {
            Remove-Item -Path "Application Files" -Recurse
          }
          if (Test-Path "$env:AssemblyName.application") 
          {
            Remove-Item -Path "$env:AssemblyName.application"
          }

      - name: List installer files
        working-directory: ${{ env.PublishPath }}
        run: ls

      - name: Copy new installer files
        run: Copy-Item -Path "$env:PublishPath\Application Files", "$env:PublishPath\$env:AssemblyName.application" -Destination $env:InstallerPath -Recurse

      - name: Copy website files (only on Prod)
        if: github.ref_name == 'deploy/PROD'
        run: Copy-Item -Path "$env:WwwSource" -Destination "$env:GhPagesDestination" -Exclude "*.md" -Recurse -Force

      - name: Commit all new files to the `gh-pages` branch
        working-directory: ${{ env.GhPagesBranch }}
        run: |
          # https://github.com/orgs/community/discussions/26560#discussioncomment-3252339
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add .
          git commit -m "Update IAIP installer from ${{ github.ref_name }}"
          git pull --rebase
          git push
          git log --name-status -1
