name: Publish IAIP Website

on: workflow_dispatch

permissions:
  contents: write

jobs:
  deploy:
    name: Publish the IAIP Website
    
    # ↓ Change this to "false" to disable the workflow without any alert messages.
    if: ${{ true }}
    # ↑ Change to "true" (or delete) to enable the workflow.
    
    runs-on: windows-latest
    
    env:
      MainBranch: main
      GhPagesBranch: gh-pages
      WebsiteRoot: main\iaip-website
      WwwSource: main\iaip-website\www\*
      GhPagesDestination: gh-pages\docs

    steps:
      - name: Check out the `main` branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ env.MainBranch }}
          path: ${{ env.MainBranch }}
          sparse-checkout: |
            iaip-website

      - name: Install Pandoc
        uses: pandoc/actions/setup@86321b6dd4675f5014c611e05088e10d4939e09e

      - name: Build the IAIP website using Pandoc
        working-directory: ${{ env.WebsiteRoot }}
        run: |
          Get-ChildItem -Path "www" -Recurse -Include "*.md" | ForEach-Object {
            $file = $_.FullName
            $output = "$($_.DirectoryName)\$($_.BaseName).html"
            pandoc.exe -f markdown+startnum -t html5 --email-obfuscation=references --template="includes/template.html5" -H "includes/head.inc" -o $output $file
          }

      - name: Check out the `gh-pages` branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ env.GhPagesBranch }}
          path: ${{ env.GhPagesBranch }}

      - name: Copy the website files
        run: Copy-Item -Path "$env:WwwSource" -Destination "$env:GhPagesDestination" -Exclude "*.md" -Recurse -Force

      - name: Commit new files to the `gh-pages` branch
        working-directory: ${{ env.GhPagesBranch }}
        run: |
          # https://github.com/orgs/community/discussions/26560#discussioncomment-3252339
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add .
          git commit -m "Update IAIP website from ${{ github.ref_name }}"
          git pull --rebase
          git push
          git log --name-status -1
